.fl{
    float: left;
}
.fr{
    float: right;
}
.color666{
  color: #666;
}
.blue{
  color: #5141ED;
}
.bold{
  font-weight: bold;
}
.font14{
  font-size: 14px;
}
.font12{
  font-size: 12px;
}
.nowrap{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search{
  position: relative;
}
.tac{
  text-align: center;
}
.cr{
  cursor: pointer;
}
/* 多选框文字隐藏 */
.goodslistitem .el-checkbox,
.goodslistitem .el-checkbox__input.is-checked+.el-checkbox__label{
  color: transparent;
}
.clearfix:before,.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.el-checkbox__inner,
.el-radio__inner{
  border-color: #409EFF;
}
.usercontent{
    background-color: #fff;
    border-radius: 5px;
    min-height: 622px;
    margin-bottom: 40px;
}
.usercontent .usercontentheader{
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-bottom: 1px #D2D2D2 solid
}
.usercontent .usercontentheader > div{
    height: 54px;
    margin: 0 20px;
    padding: 0 12px;
    float: left;
    color: #666;
    cursor: pointer;
}
.twocolumns{
    padding: 10px;
}
.twocolumns .columnsline{
    margin-top: 30px;
    display: flex;
}
.twocolumns .columnsline .columnsleft{
    width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
/* 按钮点击hover */
.el-button--primary:focus, .el-button--primary:hover{
  background-color: #5141ED;
  border-color: #5141ED;
}
/* 小箭头 */
.actived{         
    border-bottom: 2px #5141ED solid;
    position: relative;
    color: #242424 !important; 
}
.actived::before{
    content: '';
    border: 5px transparent solid;
    border-bottom: 5px #5141ED solid;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-3px)
}
a{
  text-decoration: none;
  color: #000;
}
.meijietag{
  height: 50px;
  padding: 17px;
  border-left: 1px solid #D2D2D2;
  position: absolute;
  top: 18px;
  left: 180px;
}
.top{
  display: flex;
  align-items: center;
}
.header .headerright{
  overflow: hidden;
  float: right;
  height: 20px;
  cursor: pointer;
}
.top ul li{
  list-style: none;
  float: left;
  padding: 0 10px;
  height: 16px;
  position: relative;
}
.top ul li::before{
  content: '';
  width: 1px;
  height: 10px;
  background-color: #d2d2d2;
  position: absolute;
  right: 0;
  top: 4px;
}
.top ul li.lastli{
  padding-right: 0;
}
.top ul li.lastli::before{
  width: 0;
  background-color: transparent;
}
.top a{
  text-decoration: none;
  /* margin: 0 10px; */
  color: #666;
}
.top a.denglu{
  color: red;
}
.header{
  width: 100%;
  background-color: #f7f7f7;
  height: 33px;
}
.header .top{
  font-size: 12px;
  color: #666;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.el-button--primary{
  background-color: #5141ED;
  border-color: #5141ED;
}
.carlist span.el-checkbox__label{
  display: none;
}
/* ------------------------------步骤条样式-------------------------------------------- */
.el-step__title.is-process{
  font-weight: 500
}
.el-step__head.is-finish .el-step__icon,
.el-step__head.is-process .el-step__icon{
  background-color: #5141ED
}
.el-step__head.is-process,
.el-step__head.is-finish{
  color: #fff;
  border-color: #5141ED;
}
.el-step__title.is-finish,
.el-step__title.is-process{
  color: #242424;
}
.el-step__title{
  font-size: 14px
}
/* -----------------------------------------单选框按钮------------------------------------------------- */
.el-radio__label{
  font-size: 16px;
  color: #666;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #242424;
  font-weight: 400px
}
/* ----------------------------公共样式----------------------------------------------------- */
.lianxi.el-button{
  padding: 8px 12px 8px 28px;
  background-image: url('/indexicon/lee_icon004.png');
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
.searchborder .el-input__inner{
  border-radius: 0;
  height: 37px;
}
.red{
  color: red
}
.layoutlogintop .loginleft{
  display: flex;
  align-items: center;
  justify-content: center;
}
.meijietu{
  width:301px;
  height:39px;
  background: url('/logo1.png');
  margin-right: 41px;
}
.layoutful li a{
  color: #c2c2c2;
  cursor: pointer;
}
.layoutful li a:hover{
  color: #fff;
}
.layoutlogintop .huanying{
  width:96px;
  height:24px;
  font-size:24px;
  font-weight:300;
  color:rgba(36,36,36,1);
}
.w{
  width:100%;
  height:102px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.11);
}
.layoutlogintop{
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.layoutfooter{
  width: 100%;
  background-color: #1C0B2E;
  height: 282px;
  font-size: 14px;
}
.layoutbotton{
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
/* 页面底部 */
.layoutfooterContent{
  color: #C2C2C2;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.layoutfooterContent .erweima{
  width: 99px;
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 14px;
}
.layoutfooterContent ul{
  padding: 0 0 35px 0;
  overflow: hidden;
}
ul li{
  padding: 0;
  margin: 0;
  list-style: none;
}
.lfctwo{
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #888;
}
.lfctwo > div{
  float: left;
}
.lfctwo > div.fr{
  float: right;
}
.lfctwo > div:nth-child(1),
.lfctwo .gongsi{
  margin-right: 40px;
  position: relative;
}
.lfctwo > div:nth-child(1)::before,
.lfctwo .gongsi::before{
  content: '';
  width: 1px;
  height: 10px;
  position: absolute;
  top: 22px;
  right: -20px;
  background-color: #C2C2C2;
}
.layoutfooterContent >div:nth-child(1){
  overflow: hidden;
  border-bottom: 1px solid #888;
}
.layoutfooterContent >div:nth-child(1) li{
  float: left;
  margin-right: 40px;
}
.layoutfooterContent .erweima >div{
  width: 99px;
  height: 99px;
  background: url('/hezuo/meijieerweima.png') 0 0/99px 99px no-repeat;
  margin-bottom: 10px;
}
.layoutbotton div{
  margin: 20px 65px 0 0;
  float: left;
  font-size: 12px;
  color: #242424;
}
/* ==========登陆页样式======================== */
.v-note-wrapper .v-note-panel.shadow{
  box-shadow:none !important;
}
/* =============================轮播图样式============== */
.el-carousel__arrow{
  width: 46px;
  height: 46px;
  font-size: 26px;

}
.el-carousel__arrow--left{
  left: 99px;
}
.el-carousel__arrow--right{
  right: 99px;
}
/* 右侧购物车 */
.rightbtn{
  z-index: 20;
}